
<div>
    <div class="field">
        <label class="label">{{label}}</label>
        
        <div class="control">
          <input class="input" type="text" [formControl]="control" 
           [ngClass]="{'is-danger' : errorMessage()}">
        </div>
    </div>
</div>

<ng-container 
    *ngIf="errorMessage()"> 
    <div  class="help is-danger" *ngIf="control.errors?.['required']">
        *Lütfen değer giriniz
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['minlength']">
        *Girdiğiniz değer {{control.errors?.['minlength']?.['requiredLength']}} karakter içermelidir
        ({{control.errors?.['minlength']?.['actualLength']}}
         /{{control.errors?.['minlength']?.['requiredLength']}})   
    </div>
</ng-container>
 
